# This is sample configuration file

self.protocol = :ftp
self.scm = :svn
self.connstring = "deploy-user@my.domain.com"
self.password = "my-ftp-strong-password"
self.remotepath = "/path/to/deploy/root/directory"
